body {
    background-color:#000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    font-size: 2.5rem;
    color:#777;
}


#section1{
    background-color: white;
    border-radius: 10px;
    width: 45%;
    height: 85vh;
    text-align: left;
    margin-top: 1rem;
    padding: 1rem;
   margin-left: 25%;
    
}

#formcontainer{           
    text-align: left;    
    padding: 1rem;
    height: auto;
    width:100%;
    margin-left: 1rem;
}

fieldset{
    min-height: 1.5rem;
    margin-bottom: 2rem;
  }

input{
    box-sizing: border-box;
    width: 26%;
    border: 1px solid #777;
    background-color: #fff;  
    outline: none;
    /* color: hsl(0, 0, 45); */
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
    margin-left:2rem;   
    padding: 0.2rem;   
  }
  #years{
      width:10%;
  }
  #principal{
     margin-left: 4rem;
  }

  #result{
    border: 0 none;
    padding: 1rem;
    margin: 1.5rem 1rem 1rem 0rem;
    width: 50%;   
  }


#computebtn {
    background-color: #d5d8d5;
    text-transform: none;
    border: 1px solid #222;
    border-radius: 3px;
    width:auto;
    margin-left:1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.r-label{
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1.4rem;
    padding: 0.2rem;
    text-align: left;
       
}


#currentRate{
    padding-left: 0.7rem;
    text-align: center;  
    font-size: 1.1rem; 
    font-weight: 600;
}